* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(37, 37, 37);
}

#haut {
    position: fixed;
    width: 98%;
    z-index: 1;
    text-align: center;
    background: linear-gradient(135deg, #005188, #00a591);
    color: white;
    padding: 1%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#hautt {
    text-align: center;
    background: linear-gradient(135deg, #005188, #00a591);
    color: white;
    padding: 2%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 15px;
}

h2 {
    color: orangered;
    font-size: 35px;
}

/* Main Navigation (Tabs) */
#nav {
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
    padding: 10px;
}

#nav a {
    color: #fff;
    background-color: #1a1a1a;
    text-decoration: none;
    padding: 15px;
    margin: 0 10px;
    border-radius: 20px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
}

#nav a:hover {
    background: linear-gradient(135deg, #006e89, #d24d00);
    transform: scale(1.1);
}

#box {
    margin: 15px;
    background: linear-gradient(to bottom, rgb(44, 44, 44), #1a1919);
    border-radius: 30px;
    padding: 20px;
}

#classement-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px; /* Espace entre les éléments */
    padding: 10px;
    background: linear-gradient(to bottom, rgb(44, 44, 44), #1a1919);
    border-radius: 15px;
    margin: 20px;
}

.partieoverflow {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Assure que les éléments sont espacés de façon égale */
    gap: 10px; /* Espacement entre les éléments */
    padding: 10px;
    width: 100%; /* S'assurer que le conteneur prend toute la largeur disponible */
    box-sizing: border-box; /* Inclure les padding et bordures dans la largeur totale */
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    background-color: #ff5c00; /* Couleur de fond */
    height: 1px;
    overflow: hidden;
    color: white;
    padding: 10px;
    border-radius: 5px;
    flex: 1; /* Chaque élément prend la même place */
    transition: all 0.3s ease; /* Animation */
    min-width: 0; /* Assure que les éléments peuvent se réduire si nécessaire */
    position: relative;
}

.item-one {
    position: absolute;
    left: 0;
    text-align: center;
    padding: 20px;
    font-size: 16px;
}



.item:hover {
    background-color: #006e89; /* Change la couleur de fond de l'élément au survol */
    flex-grow: 2;
    padding: 50px;

}

#autre-classement {
    padding: 20px;
    background: #2c2c2c;
    border-radius: 15px;
    margin: 20px;
}
