{% extends "base.html" %}

{% block title %}Accueil{% endblock %}
{% block id %}accueil{% endblock %}

{% block content %}
<div class="bento">

    <div class="row row-1">
        <div class="col">
            <div class="col-box">
                <br>
                <h2>qu'est ce que BET-TEN ?</h2>
                <br>
                <p><strong>BET-TEN</strong> est un site regroupant differentes fonctionnalitées tels que le classement des joueurs ATP, un système de points et de paris propre à cette app.</p>
            </div>
            <div class="col-box">
                <br>
                <h2>Pourquoi BET-TEN ?</h2>
                <br>
                <p><strong>BET-TEN</strong> Est un projet crée par 2 personnes, Guillaume et Théo. Il est né d'un travail pris un peu trop au serieux. C'est ce serieux qui aujourd'hui a donner naissance a ce site.</p>
            </div>
        </div>
        <div class="col col-2">
            <div class="col-box" onclick="location.href='{{url_for('classement')}}'">
                <br>
                <h2>Classement :</h2>
                {% for joueur in joueurs %}
                {% if joueur['id'] <= 3 %}
                <div class="player">
                    <a href="{{url_for('classement')}}">{{joueur['id']}} - {{joueur['nom_complet']}} - {{joueur['points']}}</a>
                </div>
                {% endif %}                   
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row row-2">
        <div class="boxe">
            <div id="quiz-extrait" class="quiz-question"><p>{{question}}</p></div>
            <br>
            <a id="repondre" href="{{url_for('quiz')}}">Répondre à cette question</a>
        </div>
        
        <div class="boxe" onclick="location.href='{{url_for('tournois_en_cours')}}'">
                <a class="extrait" href="{{url_for('tournois_en_cours')}}">Tournoi en cours</a>
        </div>
        <div class="boxe" onclick="location.href='{{url_for('vos_paris')}}'">
            <a class="extrait" href="{{url_for('vos_paris')}}">Vos paris</a>
        </div>
    </div>
    <div class="row row-3">
        <div class="boxe" onclick="location.href='{{url_for('information')}}'">
            <h2>L'histoire du tennis</h2>
            <br>
            <p><strong>Le tennis</strong> est un sport qui trouve ses origines dans l’Antiquité, mais son développement moderne remonte à des siècles plus récents.</p>
        </div>
        <div class="boxe" onclick="location.href='https://www.maths-info-lycee.fr/'">
            <h2>À Venir:</h2>
            <br>
            <ul>
                <li class="liste"> une excellente note 😉</li>
                <li class="liste"> 2025</li>
                <li class="liste"> système de paris approfondie</li>
                <li class="liste"> plus de questions dans le quiz</li>
                <li class="liste"> Assez d'ambitions pour améliorer notre site web</li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}