{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block id %}accueil{% endblock %}

{% block content %}
<div class="quiz-container">
    <form action="{{url_for('validation_question')}}" method="POST">
        <div class="quiz-question">
            <input id="input-question" name="new_question" type="text" placeholder="Votre question">
            <input id="input-answer" name="new_answer" type="text" placeholder="Réponse à donner">
        </div>
        <br>
        <div class="formulaire_quiz">
            <button type="submit">Valider</button>
        </div>
    </form>
</div>
 {% endblock %}