{% extends "base.html" %}

{% block title %}Classement{% endblock %}
{% block id %}accueil{% endblock %}

{% block content %}
<div class="box">
    <h2>Classement des 100 premiers joueurs</h2>
    </div>
    {% for joueur in joueurs %}

     <div class="classement" onclick="location.href='{{url_for("fiche_joueur", joueur_id=joueur['id'])}}'">
        <div class="item">{{joueur['id']}}</div>
        <div class="item">{{joueur['nom_complet']}}</div>
        <div class="item">12345</div>
    </div>
    {% endfor %}
 {% endblock %}