{% extends "base.html" %}

{% block title %}Paris{% endblock %}
{% block id %}paris_ban{% endblock %}

{% block content %}
<div class="box">
    <h2>Les grands chlemes</h2>
    </div>
    <div id="match" class="classement" onclick="location.href='{{url_for('#')}}'">
        <div class="item">Roland Garros</div>
        <div class="item">finale</div>
        <div class="item">R.Nadal - VS - R.Federer</div>
        <div class="item">13/01 - 12:45</div>
    </div>
    <div id="match" class="classement" onclick="location.href='{{url_for('vos_paris')}}'">
        <div class="item">Wimbeldon</div>
        <div class="item">finale</div>
        <div class="item">C.Alcarz - VS - R.Federer</div>
        <div class="item">01/03 - 02:00</div>
    </div>
{% endblock %}
