<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style-login.css')}}">
        <title>LOGIN PAGE</title>
        <script src="{{url_for('static', filename='js/code.js')}}"></script>
    </head>
    <body>
        <section>
            <div class="form-box">
                <div class="form-value">
                    <form name="formulaire" id="loginForm" action="/login" method="POST">
                        <h2>Login</h2>
                        <div class="inputbox">
                            <input name="username" type="text" required>
                            <label for="username">Surnom</label>
                        </div>
                        <div class="inputbox">
                            <input name="password" type="password" required>
                            <label for="password">Mot-de-passe</label>
                        </div>
                        <div class="forget">
                            <label for="">
                                <a href="passwordinexistant.html">Mot de passe oublié?</a>
                            </label>
                        </div>
                        <input class="valider" type="submit" value="CONNECTER">
                        <div class="register">
                            <p>Pas de compte? - <a href="{{url_for('register')}}">S'Inscrire</a><br> ou continuer sans s'inscrire - <a href="{{url_for('index')}}">Invité</a></p>

                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>