{% extends "base.html" %}

{% block title %}Paris{% endblock %}
{% block id %}paris_ban{% endblock %}

{% block content %}
<div class="box">
    <h2>Parier sur les matchs a venir</h2>
 </div>
 
 <div class="Paris">
     
 <!-- Liste des joueurs (à générer dynamiquement en JS) -->
     <div class="clique" onclick="location.href='{{url_for('tournois_en_cours')}}'">
     <a href="{{url_for('tournois_en_cours')}}">Tournoi en cours</a>
     </div>
     <div class="clique" onclick="location.href='{{url_for('vos_paris')}}'">
     <a href="{{url_for('vos_paris')}}">Vos paris</a>
     </div>
 
 </div>
 {% endblock %}