
{% extends "base.html" %}

{% block title %}Paris{% endblock %}
{% block id %}paris_ban{% endblock %}

{% block content %}
<!-- Joueur 1 -->
    <div class="player-card">
        <div class="player-info">
            <h2>Rafael Nadal</h2>
            <p><span class="highlight">Classement ATP :</span> 4e</p>
            <p><span class="highlight">Tournoi en cours :</span> Roland-Garros</p>
            <p><span class="highlight">Parcours :</span> Victoires en 1/8e, 1/4, et 1/2 finales.</p>
            <p><span class="highlight">Dernier match :</span> Victoire contre Carlos Alcaraz (6-3, 6-4, 6-2)</p>
        </div>
        <div class="player-stats">
            <h3>Statistiques</h3>
            <table>
                <tr>
                    <th>Statistique</th>
                    <th>Valeur</th>
                </tr>
                <tr>
                    <td>Titres remportés cette année</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Matchs gagnés</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>Matchs perdus</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Chances de gagner</td>
                    <td>25%</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Joueur 2 -->
    <div class="player-card">
        <div class="player-info">
            <h2>Novak Djokovic</h2>
            <p><span class="highlight">Classement ATP :</span> 2e</p>
            <p><span class="highlight">Tournoi en cours :</span> Roland-Garros</p>
            <p><span class="highlight">Parcours :</span> Victoires en 1/8e, 1/4, et 1/2 finales.</p>
            <p><span class="highlight">Dernier match :</span> Victoire contre Daniil Medvedev (7-5, 6-7, 6-4)</p>
        </div>
        <div class="player-stats">
            <h3>Statistiques</h3>
            <table>
                <tr>
                    <th>Statistique</th>
                    <th>Valeur</th>
                </tr>
                <tr>
                    <td>Titres remportés cette année</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Matchs gagnés</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Matchs perdus</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Chances de gagner</td>
                    <td>75%</td>
                </tr>
            </table>
        </div>
    </div>

<div class="bet-container">
    <form id="formulaire_pari" action="{{url_for('validation_pari')}}" method="POST">
        <div id="input_formulaire">
            <input type="radio" name="betPlayer" id="betPlayer1" checked="checked" />
            <label for="betPlayer1">Parier sur Joueur 1</label>

            <div class="quantity-selector">
                <input name="quantity_to_bet" type="number" placeholder="Votre quantité à parier" min="0">
            </div>

            <input type="radio" name="betPlayer" id="betPlayer2" />
            <label for="betPlayer2">Parier sur Joueur 2</label>
        </div>
        <button id="boutton_pari" type="submit">Valider</button>
    </form>
</div>

{% endblock %}