<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style-login.css')}}">
        <title>LOGIN PAGE</title>
        <script src="{{url_for('static', filename='js/code.js')}}"></script>
    </head>
    <body>
        <section>
            <div class="form-box">
                <div class="form-value">
                    <input class="valider" type="submit" value="   FORCE A TOI   " onclick="location.href='{{url_for('login')}}'">
                        </button>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </body>
</html>