{% extends "base.html" %}

{% block title %}Quiz{% endblock %}
{% block id %}quiz{% endblock %}
{% block content %}

<div class="quiz-container">
    <form action="{{url_for('validation_quiz')}}" method="POST">
        {% for question in questions %}
        <div class="quiz-question" data-answer="{{question['reponse']}}">
            <p id="pquiz">{{question['question']}}</p>
            <input id="input-quiz" name="reponse-{{question['id']|string}}" type="text" placeholder="Votre réponse">
        </div>
        <br>
        {% endfor %}
        <div class="formulaire_quiz">
            <button type="submit">Valider</button>
        </div>
    </form>
</div>

<div id="animation" class="win-lose-animation"></div>
{% endblock %}
