{% extends "base.html" %}

{% block title %}Quiz{% endblock %}
{% block id %}quiz{% endblock %}
{% block content %}

<div class="quiz-container">
    {% for question in questions %}
    <div class="quiz-question" data-answer="{{question['reponse']}}">
        <p id="pquiz">{{question['question']}}</p>
        <input id="input-quiz" name="reponse-{{question['id']}}" type="text" placeholder="Votre réponse">
        <button onclick="checkAnswer(this, '{{question['reponse']}}')">Valider</button>
    </div>
    <br>
    {% endfor %}

</div>

<div id="animation" class="win-lose-animation"></div>
{% endblock %}