<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style-login.css')}}">
        <title>LOGIN PAGE</title>
        <script src="{{url_for('static', filename='js/code.js')}}"></script>
    </head>
    <body>
        <section>
            <div class="form-box">
                <div class="form-value">
                    <form  action="/register" method="post">
                        <h2>Register</h2>
                        <div class="inputbox">
                            <input id="prenom" name="prenom" type="text" required>
                            <label for="prenom">Prenom</label>
                        </div>
                        <div class="inputbox">
                            <input id="nom" name="nom" type="text" required>
                            <label for="nom">Nom</label>
                        </div>
                        <div class="inputbox">
                            <input id="username" name="username" type="text" required>
                            <label for="username">Nom d'utilisateur</label>
                        </div>
                        <div class="inputbox">
                            <input id="password" name="password" type="password" required>
                            <label for="password">Mot-de-passe</label>
                        </div>
                        <input class="valider" type="submit" value="S'INSCRIRE">
                        <div class="register">
                            <p>Déjà un compte? <a href="{{url_for('login')}}">Se connecter</a></p>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>