{% extends "base.html" %}

{% block title %}Quiz{% endblock %}
{% block id %}quiz{% endblock %}
{% block content %}

<div class="quiz-container">
        {% for question in questions %}
        <div class="quiz-question" data-answer="{{question['reponse']}}">
            <p id="pquiz">{{question['question']}}</p>
            <p>{{question['reponse']}}</p>
            {% if reponses_utilisateur[question['id']] %}
            <p>Correct</p>
            {% else %}
            <p>Faux</p>
            {% endif %}
        </div>
        <br>
        {% endfor %}
</div>

<p>Vous avez eu {{points}} points</p>

{% endblock %}
